apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-app
  labels:
    app: node-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: node-app
  template:
    metadata:
      labels:
        app: node-app
    spec:
      containers:
      - name: node-app
        image: node-web-app-tutorial:latest
        imagePullPolicy: IfNotPresent
        env:
        - name: APM_SERVICE_NAME
          value: "NODE_LAST"
        - name: APM_SERVER_URL
          value: "http://apm-server:8200"
        ports:
        - containerPort: 3000
          name: webinterface